﻿/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.ui-datepicker-trigger{
    border:none;
    background:none;
 }

.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

body{
        font: 14px/1.5 Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}

.minVH
{
    min-height:70vh;
}
div.slider {
    display: none;
}
 
table.dataTable tbody td.no-padding {
    padding: 0;
}
.modal-lg {
    max-width: 80% !important;
}

   .stepNav {
       padding-left:0px;
        height: 43px;
        margin-right: 20px;
        position: relative;
        z-index: 0;
        }
    
    /* z-index to make sure the buttons stack from left to right */
    td.details-control {
    background: url('DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('DataTables/images/details_close.png') no-repeat center center;
}
    .stepNav li {
        float: left;
        position: relative;
        z-index: 3;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
           -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12);
                    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
        }
        
    .stepNav li:first-child {
        -webkit-border-radius: 5px 0 0 5px;
           -moz-border-radius: 5px 0 0 5px;
              border-radius: 5px 0 0 5px;
        }
     
        
    .stepNav li:nth-child(2) { z-index: 1; }
    .stepNav li:nth-child(3) { z-index: 0; }
    
    /* different widths */
    
    .stepNav.twoWide li { width: 50%; }
    .stepNav.threeWide li { width: 25%; }
    
       /* step links */
    
    .stepNav a, .stepNav a:visited {
        width: 100%;
        height: 43px;
        padding: 0 0 0 25px;
        color: #717171;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        line-height: 43px;
        white-space: nowrap;
        border: 1px solid #cbcbcb;
        text-decoration: none;
        border-top-color: #dddddd;
        border-right: 0;
        background-color: #fbfbfb;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
        background-image: -webkit-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -moz-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -o-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -ms-linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: linear-gradient(top, rgb(251, 251, 251), rgb(233, 233, 233));
        float: left;
        position: relative;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        
    .stepNav li:first-child a {
        padding-left: 12px;
        -webkit-border-radius: 5px 0 0 5px;
           -moz-border-radius: 5px 0 0 5px;
              border-radius: 5px 0 0 5px;
        }
    
    .stepNav a:before {
        content: "";
        width: 29px;
        height: 29px;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #cbcbcb;
        background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(251, 251, 251)), to(rgb(233, 233, 233)));
        background-image: -webkit-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -moz-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -o-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: -ms-linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
        background-image: linear-gradient(right top, rgb(251, 251, 251), rgb(233, 233, 233));
        display: block;
        position: absolute;
        top: 6px;
        right: -16px;
        z-index: -1;
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
        
    .stepNav a:hover {
        color: #2e2e2e;
        background-color: #f5f5f5;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
        background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: linear-gradient(top, rgb(242, 242, 242), rgb(217, 217, 217));
        }
        
    .stepNav a:hover:before {
        background-image: -webkit-gradient(linear, right top, left bottom, from(rgb(242, 242, 242)), to(rgb(217, 217, 217)));
        background-image: -webkit-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -moz-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -o-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: -ms-linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        background-image: linear-gradient(right top, rgb(242, 242, 242), rgb(217, 217, 217));
        }
    
    /* selected */
        
    .stepNav li.selected {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                    box-shadow: none;
        }
                                
    .stepNav li.selected a, .stepNav li.selected a:before {
        background: #ebebeb;
        color:green;
        font-size:18px;
        }
        

    .stepNav li.selected a {
        border-top-color: #bebebe;
        -webkit-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
           -moz-box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);
                    box-shadow: inset 2px 1px 2px rgba(0,0,0,0.12);

        }
        
    .stepNav li.selected a:before {
        border-right: 1px solid #bebebe;
        border-bottom: 1px solid #cbcbcb;
        -webkit-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
           -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
                    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.1);
        }

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

light-font .breadcrumb-item + .breadcrumb-item::before {
color: #fff; }
.light-font .breadcrumb-item.active {
color: #cfd8dc; }

  .tocenterscreen {
        padding-top: 10%;
    }
               /** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

.panel.with-nav-tabs .panel-heading{
    padding: 7px 7px 0 7px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: white;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: black;
	background-color: white;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: black;
    font-weight:600;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255,140,0,0.9) url("../img/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgb(255,140,0);
  opacity: 1;
}



@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* cd top */

.checkbox label
{
    margin-left:3px;
    font-size:12px;
}
      .hidden2,
    #CalendarPicker tr > th[abbr=Saturday],
    #CalendarPicker tr > th[abbr=Sunday] { display:none; }
    #CalendarPicker tr > th { text-align: center; }
    #Calendar1 tr > th[abbr=Saturday],
    #Calendar1 tr > th[abbr=Sunday] { display:none; }
    #Calendar1 tr > th { text-align: center; }

        .hidden,
    #CalendarPicker tr > th[abbr=zaterdag],
    #CalendarPicker tr > th[abbr=zondag] { display:none; }
    #CalendarPicker tr > th { text-align: center; }
    #Calendar1 tr > th[abbr=zaterdag],
    #Calendar1 tr > th[abbr=zondag] { display:none; }
    #Calendar1 tr > th { text-align: center; }
.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease; }

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px; }

.x_title .filter {
  width: 40%;
  float: right; }

.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.x_title h2 small {
  margin-left: 10px; }

.x_title span {
  color: #BDBDBD; }

.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px; }

.x_content h4 {
  font-size: 16px;
  font-weight: 500; }



html,form {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.navbar-default {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-default .navbar-toggle {
    color: #ffffff;
    background-color: rgb(243, 146, 26);
    font-size: 12px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  outline: none;
}
.navbar-default .navbar-brand {
  font-weight: 700;
}
.navbar-default .navbar-brand:focus {
  outline: none;
}
.navbar-default a {
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f3921a;
}


.navbar-default .nav li a:active {
    outline: none;
    background-color: #f3921a;
}

.navbar-default .nav li a:hover {
    color: white;
    outline: none;
    background-color: rgba(243, 146, 26, 0.67);
}
li.dropdown.open a.dropdown-toggle {
    background-color: #f3921a;
    color: white !important;
	}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #f3921a;
}
@media (min-width: 768px) {
  .navbar-default {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-default.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}



.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url('../Images/banner_DBC2.jpg') no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
.download-section {
    padding-top: 100px;
    padding-bottom: 200px !important;
}
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
    border: 1px solid #f3921a;
    color: #ffffff;
    background-color: #f3921a;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #212044;
  outline: none;
  color: white;
  background-color: #212044;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 40px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.navbar-collapse.navbar-right.navbar-main-collapse.collapse.in {
    max-height: 420px;
}
ol.carousel-indicators {
    display: none;
}
button.btn.btn-primary.dropdown-toggle:hover{
    background-color: rgba(243, 146, 26, 0.67) !important;
	color:white;
}
.open>button.btn.btn-primary.dropdown-toggle {
    background-color: #f3921a !important;
    color: white;
}
button.btn.btn-primary.dropdown-toggle {
    padding: 14px;
    font-size: 16px;
    background-color: rgba(245, 249, 252, 0);
    color: #3e3d5c;
    border: none;
}
/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}
header#myCarousel {
    max-height: 90%;
}
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.item .fill img {
    width: 100% !important;
    max-height: 100% !important;
    background-position: center !important;
    height:100%;
}
footer {
    margin: 5px auto;
}


/*<----- short add ---> */
.short-info {
    padding: 20px;
    float: none;
    display: block;
    font-size: 20px;
	text-align: center;
}

.social {
    padding: 20px;
    font-size: 25px;
    color: white;
    float: none;
    display: block;
    margin: 0 auto !important;
    text-align: center;
}

.social i {
    color: white;
    padding: 5px;
    background-color: orange;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
	
}
hr {
	background: url('../Images/hr.svg') no-repeat top center;
	height:42px;
	border:none !important;
	background-size: 90px;
	margin: 0 auto;
}


.short-info a {
    color: #f3921a;
}






/*<!------------------------------ Lightboxes ----------------------> */

section#Kantoorruimtes {
    text-align: center;
    color: #222;
    display: block;
    margin: 0 auto;
    float: none;
    width: 100%;
    padding: 70px;
	background-color: #f7f7f7;
}
section#Kantoorruimtes h2 {
    color: #212044;
	margin: 0 auto;
}









/* tables */
table.rooms td:first-child {
    text-align: left;
}

table.rooms thead td {
    border: 1px solid #212044;
}
table.rooms thead {
    background: #212044;
    color: #fff;
    font-weight: bold;
}
table.rooms .parttime td {
    line-height: 24px;
    border: 1px solid #76bf8A;
}
table.rooms .general td {
    border: 1px solid #c5c5c5;
}
table.rooms .general {
    background: #c5c5c5;
}
table.rooms .parttime {
    background: #76bf8A;
    color: #fff;
}
table.rooms .booked td {
    border: 1px solid #f3921a;
}
table.rooms .booked {
    background: #f3921a;
    color: #fff;
}

table.rooms {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 20px;
}
table.rooms td {
    width: 50%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: right;
	font-size: 12px;
}


.shadow{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
i.fa.fa-search-plus {
    font-size: 20px;
    margin-top: 20px;
    color: #f3921a;
	}
.fa-search-plus:before {
    margin: 5px;
}
.col-sm-12.col-md-6.col-lg-3.lbs {
    margin-top: 15px;
}
section#Bedrijven {
    float: none;
    text-align: center;
    display: block;
    margin: 0 auto;
	color: #202244 !important;
    padding: 80px;
}


.row.boxes p {
    border: solid 1px;
    padding: 5px;
	margin-top: 10px;
}
.row.lb h4 {
    margin: 0 auto;
    font-size: 24px;
}
.section2 h2 {
    color: #212044;
	margin-bottom: 0;
}
button.btn.btn-default.btn-lg {
    margin-bottom: 40px;
}
.section2 p {
    color: #222;
    font-size: 15px;
}
button.btn.btn-default.btn-lg a {
    color: white;
}
section#dl-sec {
    padding: 0px;
}
.col-lg-8.col-lg-offset-2 h2 {
    color: #212044;
}
section#Bedrijven h2 {
    margin-bottom: 0;
}
.description h2 {
    text-align: center;
    margin-bottom: 0;
}
a img {
    width: 100%;
}

label.grunion-field-label {
    text-align: left;
    float: none;
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}


input.pushbutton-wide {
    background-color: #f3921a;
    border: solid 1px #f3921a;
    margin: 0 auto;
    display: block;
    float: none;
    width: 100%;
	color: #f4f5f7;
}


p.contact-submit {
    margin-top: 60px !important;
}

.col-sm-12.col-md-3.col-lg-3 {
    font-size: 15px !important;
}

.col-sm-12.col-md-3.col-lg-3 p {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    float: none;
	margin-top:10px;
}

.contact-sect-three p {
    font-size: 14px;
    margin: 6px;
}


.contact-sect-three .col-sm-12.col-md-3.col-lg-3 p {
    font-size: 15px;
    margin: 0 auto;
    text-align: left;
    float: none;
}


section#contact {
    margin:0 auto;
    font-size: 16px;
	padding: 80px;
}

section#contact p {
    font-size: 16px;
    margin: 2px;
    line-height: 2;
    text-align: left;
    float: none;
}


nav.navbar.navbar-default.navbar-fixed-top {
    background: rgba(255, 255, 255, 0.8);
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse{
    background: rgba(255, 255, 255, 0.8) !important;

}

.navbar-default .nav li a{
    color: #212044 !important;
}

.navbar-default .nav li.active a {
    background-color: rgb(243, 146, 26);
	color: white !important;
}


section#Kantoorruimtes p {
    font-size: 15px;
}
/*----------------------------------------------------------------*/
.navbar-header {
    width: auto;
}

a.navbar-brand.page-scroll img {
    width: 100% ;
}
a.navbar-brand.page-scroll {
    background-image: url("../img/dbc_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
}
img.syimg {
    width: 100%;
    padding: 20px;
}
section#contact h2 {
    text-align: center;
    float: none;
    margin: 0 auto;
}
div#image-gallery-caption {
    text-align: center;
}
.thumb h4 {
    margin-top: 25px !important;
}
/*----------------------------------------------------------------*/

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  border-radius: 20px;
}

.loginmodal-container h3 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #f3921a;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #d27b10;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 


.modal-backdrop {
    
    z-index: 10 !important;
   
}

.loginmodal-container h3 {
    color: #212044;
}

.modal-dialog {
    top: 80px;
}



/* Cancel Landing Page */





.ty-logo {
    /* background-image: url(http://duinoordbusinesscenter.com/wp-content/themes/dbc/images/dbc_logo.png); */
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 20%; */
    height: 55px;
    margin: 0 auto;
    float: none;
    display: block;
    background-position: center;
}
.thank-section {
    width: 100%;
    position: relative;
    float: none;
    background-color: white;
    border-radius: 20px;
}
section#ty-sec h4 {
    color: #212044;
}

section#ty-sec h2 span {
    color: #f3921a;
}
.thank-section h4 span {
    color: #f3921a;
}

.alert-warning p span
{
    color:#f3921a;
}
/* Dropdown */

li.dropdown.open i.fa {
    margin-right: 5px;
    font-size: 15px;
}
ul.dropdown-menu a {line-height: 30px;}

ul.dropdown-menu li:hover {
    background-color: #f3921a;
}
.dropdown-menu li a:hover {
    color: white !important;
}
i.fa.fa-user {
    margin-right: 5px;
    font-size: 15px;
}




/* ---------------------------------------------------------Verga------------------------------- */

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }

.item img {
    width: 100%;
    max-height: 530px;
}
.jumbotron {
background-color: rgba(2, 2, 2, 0.7);
    text-align: center;
    color:white;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
		
}

.jumbotron h2 {
    margin-top: 90px;
}


.jumbotron p {
    width: 80%;
    font-size: 16px;
    text-align: center;
    float: none;
    margin: 0 auto;
}



@media (max-width: 800px) {


section#Bedrijven {
    
    padding: 50px 10px;
    
} 

.grid .item {
    width: calc(100% - 20px)!important;
	margin-left: 0px !important
}


}




.modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=40);
        opacity: 0.4;
    }



@media (max-width: 800px) {


section#Bedrijven {
    
    padding: 50px 10px;
    
} 

.grid .item {
    width: calc(100% - 20px)!important;
	margin-left: 0px !important
}


}


section#Verga h2 {
    color: gray;

}


@media (max-width: 550px) {
	
    .chck-logo img {
    width: 75px;
    margin: 20px auto;
}
.thank-section {
    height: 60%;
}

.thank-section h2 {
    font-size: 24px;
}
}




@media (max-width: 445px) {
section#Bedrijven {
    
    padding: 50px 10px;
    
} 

.jumbotron {
    padding: 80px 0;
}
.grid .item {
    width: calc(100% - 20px)!important;
	margin-left: 0px !important
}

section#contact h2 {
    font-size: 24px;
}

.social i {
    width: 22%;
}
a.navbar-brand.page-scroll {
    width: 120px;
    background-position: center;
}
header#myCarousel {
    max-height: 70%;
}
 .short-info a {
  
    font-size: 14px;
}
.short-info {
   
    font-size: 14px;
}
.download-section h2 {
    font-size: 24px;
}

.download-section a.btn.btn-default.btn-lg.meeting-btn {
    font-size: 11px;
}
section#Kantoorruimtes h2 {
    font-size: 24px;
}

section#contact a {
    font-size: 14px;
}
.intro-body h2 {
    font-size: 20px;
    width: 100%;
}

section#contact {
    padding: 50px 0px;
}

img.syimg {
    padding: 0;
}

section#Bedrijven h2 {
    font-size: 23px;
	color: #202244;

}
section#Kantoorruimtes h2 {
    font-size: 19px;
}

section#Kantoorruimtes {
    padding: 20px;
}
button.btn.btn-default.btn-lg {
    width: 100%;
    font-size: 12px;
}

.f-section h2 {
    font-size: 21px;
}

.carousel-inner h1.brand-heading {
        font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}

.carousel-inner h2 {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
}
}

header.intro {
    padding-top: 50px!important;
    padding-bottom: 50px !important;
}

.f-section h2 {
    text-align: center;
}

.f-section p {
    text-align: center;
}

.f-section .col-lg-12 {
    background-color: #f7f7f7;
    padding-top: 50px;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255, 135, 57, 0.8) url("../img/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgb(255,135,57);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}



/* ----------------------------------------------------------- Added CSS --------------------------------------------------------------*/
/* -------------------------------------------*/


.centeralign
{
    text-align:center;
}
.centeralign .compImg {
	float: left;
	line-height: 120px;
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid #f5f5f5;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.centeralign .compImg:nth-child(5n+1) {
	clear: left;
	margin-left: 0;
}
.centeralign .compImg a {
	display: block;
	line-height: 120px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.centeralign .compImg img {
	display: inline-block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 120px;
	vertical-align: middle;
	padding: 10px;
}

.row.berd {
    background-color: #f7f7f7;
	    padding-bottom: 50px;
}


@media (max-width: 800px) {


section#Bedrijven {
    
    padding: 50px 10px;
    
} 
.centeralign .compImg {
	  width: calc(100% - 20px)!important;
	margin-left: 0px !important
	}
}