﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Pass.aspx.cs" Inherits="SALESAGENT_WLO.Pass" %>

  <div style="min-height:14vh">
    <div class="form-group">
        <input autofocus type="text" id="input-name" autocomplete="off" placeholder="Password" class="form-control">
    </div>

    <div class="alert alert-danger text-center" role="alert" style="display:none">Invalid Password</div>

</div>


